{% extends "!layout.html" %}

{% block extrahead %}
<meta name="msvalidate.01" content="77F49AA51A598A2390D7D59A8AAC4E6B" />
<meta name="google-site-verification" content="_gdk9gHRbWn2ysl1Akv-hC0Y_szp35GlNENpxQaaYMw" />
  
    <meta name="keywords" content="Brother printer drivers, setup.brother.com, Brother printer setup, download Brother printer drivers, install Brother drivers, Brother driver install Windows, Brother driver install Mac, wireless Brother printer setup" />
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
